Other/LogicApps/EditTeamsSettings.logicapp.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "triggers": {
        "manual": {
            "type": "Request",
            "kind": "Http",
            "inputs": {
                "method": "POST",
                "schema": {
                    "properties": {
                        "GuestSettingEnabled": {
                            "type": "string"
                        },
                        "Requestor": {
                            "type": "string"
                        },
                        "TeamName": {
                            "type": "string"
                        },
                        "TicketID": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "operationOptions": "EnableSchemaValidation"
        }
    },
    "actions": {
        "Compose_Output": {
            "runAfter": {
                "Parse_Teams_Settings_2_Value": [
                    "Succeeded"
                ]
            },
            "type": "Compose",
            "inputs": {
                "Requestor": "@variables('Requestor')",
                "TeamID": "@variables('TeamID')",
                "TeamName": "@variables('TeamName')",
                "TeamSettings": "@body('Parse_Team_Settings_2')?['value']",
                "TicketID": "@variables('TicketID')"
            }
        },
        "Find_Team_Info": {
            "runAfter": {
                "Initialize_GuestSettingsID": [
                    "Succeeded"
                ]
            },
            "type": "Http",
            "inputs": {
                "authentication": {
                    "audience": "@variables('AzureAudience')",
                    "clientId": "@variables('AzureClientID')",
                    "secret": "@variables('CredentialSecret')",
                    "tenant": "@variables('AzureTenant')",
                    "type": "ActiveDirectoryOAuth"
                },
                "method": "GET",
                "uri": "https://graph.microsoft.com/v1.0/groups?$filter=startswith(displayName,'@{body('Parse_Initial_Request')?['TeamName']}')"
            }
        },
        "Gather_Team_Settings": {
            "runAfter": {
                "Team_Info_Results": [
                    "Succeeded"
                ]
            },
            "type": "Http",
            "inputs": {
                "authentication": {
                    "audience": "@variables('AzureAudience')",
                    "clientId": "@variables('AzureClientID')",
                    "secret": "@variables('CredentialSecret')",
                    "tenant": "@variables('AzureTenant')",
                    "type": "ActiveDirectoryOAuth"
                },
                "method": "GET",
                "uri": "https://graph.microsoft.com/v1.0/groups/@{variables('TeamID')}/settings"
            }
        },
        "Gather_Team_Settings_2": {
            "runAfter": {
                "Patch_Guest_Settings_via_Graph": [
                    "Succeeded"
                ]
            },
            "type": "Http",
            "inputs": {
                "authentication": {
                    "audience": "@variables('AzureAudience')",
                    "clientId": "@variables('AzureClientID')",
                    "secret": "@variables('CredentialSecret')",
                    "tenant": "@variables('AzureTenant')",
                    "type": "ActiveDirectoryOAuth"
                },
                "method": "GET",
                "uri": "https://graph.microsoft.com/v1.0/groups/@{variables('TeamID')}/settings"
            }
        },
        "Good_Response": {
            "runAfter": {
                "Compose_Output": [
                    "Succeeded"
                ]
            },
            "type": "Response",
            "kind": "Http",
            "inputs": {
                "body": "@outputs('Compose_Output')",
                "statusCode": 200
            },
            "description": "If any of the previous API calls fail, this entire logic app returns a 502. So due to it hitting the end without failing means a good response."
        },
        "Initialize_AzureAudience": {
            "runAfter": {
                "Initialize_AzureTenant": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "AzureAudience",
                        "type": "string",
                        "value": "https://graph.microsoft.com"
                    }
                ]
            }
        },
        "Initialize_AzureClientID": {
            "runAfter": {
                "Initialize_AzureAudience": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "AzureClientID",
                        "type": "string",
                        "value": "6fbe7e0f-bd1c-4f1f-81dc-714559f211a5"
                    }
                ]
            }
        },
        "Initialize_AzureTenant": {
            "runAfter": {
                "Initialize_TeamID": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "AzureTenant",
                        "type": "string",
                        "value": "ce6d05e1-3c5e-4d62-87a8-4c4a2713c113"
                    }
                ]
            }
        },
        "Initialize_CredentialSecret": {
            "runAfter": {
                "Initialize_AzureClientID": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "CredentialSecret",
                        "type": "string",
                        "value": "-CYnhhKoJz0B1TR0vBH_iS7.N-dbT6_861"
                    }
                ]
            }
        },
        "Initialize_DesiredGuestSetting": {
            "runAfter": {
                "Initialize_CredentialSecret": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "DesiredGuestSetting",
                        "type": "string",
                        "value": "@body('Parse_Initial_Request')?['GuestSettingsEnabled']"
                    }
                ]
            }
        },
        "Initialize_GuestSettingsID": {
            "runAfter": {
                "Initialize_DesiredGuestSetting": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "GuestSettingsID",
                        "type": "string"
                    }
                ]
            }
        },
        "Initialize_Requestor": {
            "runAfter": {
                "Initialize_TeamName": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "Requestor",
                        "type": "string",
                        "value": "@body('Parse_Initial_Request')?['Requestor']"
                    }
                ]
            }
        },
        "Initialize_TeamID": {
            "runAfter": {
                "Initialize_Requestor": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "TeamID",
                        "type": "string"
                    }
                ]
            }
        },
        "Initialize_TeamName": {
            "runAfter": {
                "Initialize_TicketID": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "TeamName",
                        "type": "string",
                        "value": "@body('Parse_Initial_Request')?['TeamName']"
                    }
                ]
            }
        },
        "Initialize_TicketID": {
            "runAfter": {
                "Parse_Initial_Request": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "TicketID",
                        "type": "string",
                        "value": "@body('Parse_Initial_Request')?['TicketID']"
                    }
                ]
            }
        },
        "Parse_Initial_Request": {
            "runAfter": {},
            "type": "ParseJson",
            "inputs": {
                "content": "@triggerBody()",
                "schema": {
                    "properties": {
                        "GuestSettingsEnabled": {
                            "type": "string"
                        },
                        "Requestor": {
                            "type": "string"
                        },
                        "TeamName": {
                            "type": "string"
                        },
                        "TicketID": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            }
        },
        "Parse_Team_Info": {
            "runAfter": {
                "Find_Team_Info": [
                    "Succeeded"
                ]
            },
            "type": "ParseJson",
            "inputs": {
                "content": "@body('Find_Team_Info')",
                "schema": {
                    "properties": {
                        "@@odata.context": {
                            "type": "string"
                        },
                        "value": {
                            "items": {
                                "properties": {
                                    "classification": {},
                                    "createdDateTime": {
                                        "type": "string"
                                    },
                                    "creationOptions": {
                                        "type": "array"
                                    },
                                    "deletedDateTime": {},
                                    "description": {
                                        "type": "string"
                                    },
                                    "displayName": {
                                        "type": "string"
                                    },
                                    "expirationDateTime": {},
                                    "groupTypes": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "isAssignableToRole": {},
                                    "mail": {
                                        "type": "string"
                                    },
                                    "mailEnabled": {
                                        "type": "boolean"
                                    },
                                    "mailNickname": {
                                        "type": "string"
                                    },
                                    "membershipRule": {},
                                    "membershipRuleProcessingState": {},
                                    "onPremisesDomainName": {},
                                    "onPremisesLastSyncDateTime": {},
                                    "onPremisesNetBiosName": {},
                                    "onPremisesProvisioningErrors": {
                                        "type": "array"
                                    },
                                    "onPremisesSamAccountName": {},
                                    "onPremisesSecurityIdentifier": {},
                                    "onPremisesSyncEnabled": {},
                                    "preferredDataLocation": {},
                                    "preferredLanguage": {},
                                    "proxyAddresses": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "renewedDateTime": {
                                        "type": "string"
                                    },
                                    "resourceBehaviorOptions": {
                                        "type": "array"
                                    },
                                    "resourceProvisioningOptions": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "securityEnabled": {
                                        "type": "boolean"
                                    },
                                    "securityIdentifier": {
                                        "type": "string"
                                    },
                                    "theme": {},
                                    "visibility": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "id",
                                    "deletedDateTime",
                                    "classification",
                                    "createdDateTime",
                                    "creationOptions",
                                    "description",
                                    "displayName",
                                    "expirationDateTime",
                                    "groupTypes",
                                    "isAssignableToRole",
                                    "mail",
                                    "mailEnabled",
                                    "mailNickname",
                                    "membershipRule",
                                    "membershipRuleProcessingState",
                                    "onPremisesDomainName",
                                    "onPremisesLastSyncDateTime",
                                    "onPremisesNetBiosName",
                                    "onPremisesSamAccountName",
                                    "onPremisesSecurityIdentifier",
                                    "onPremisesSyncEnabled",
                                    "preferredDataLocation",
                                    "preferredLanguage",
                                    "proxyAddresses",
                                    "renewedDateTime",
                                    "resourceBehaviorOptions",
                                    "resourceProvisioningOptions",
                                    "securityEnabled",
                                    "securityIdentifier",
                                    "theme",
                                    "visibility",
                                    "onPremisesProvisioningErrors"
                                ],
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                }
            }
        },
        "Parse_Team_Settings": {
            "runAfter": {
                "Gather_Team_Settings": [
                    "Succeeded"
                ]
            },
            "type": "ParseJson",
            "inputs": {
                "content": "@body('Gather_Team_Settings')",
                "schema": {
                    "properties": {
                        "@@odata.context": {
                            "type": "string"
                        },
                        "value": {
                            "items": {
                                "properties": {
                                    "displayName": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "templateId": {
                                        "type": "string"
                                    },
                                    "values": {
                                        "items": {
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "id",
                                    "displayName",
                                    "templateId",
                                    "values"
                                ],
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                }
            }
        },
        "Parse_Team_Settings_2": {
            "runAfter": {
                "Gather_Team_Settings_2": [
                    "Succeeded"
                ]
            },
            "type": "ParseJson",
            "inputs": {
                "content": "@body('Gather_Team_Settings_2')",
                "schema": {
                    "properties": {
                        "@@odata.context": {
                            "type": "string"
                        },
                        "value": {
                            "items": {
                                "properties": {
                                    "displayName": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "templateId": {
                                        "type": "string"
                                    },
                                    "values": {
                                        "items": {
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "id",
                                    "displayName",
                                    "templateId",
                                    "values"
                                ],
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                }
            }
        },
        "Parse_Teams_Settings_2_Value": {
            "runAfter": {
                "Parse_Team_Settings_2": [
                    "Succeeded"
                ]
            },
            "type": "ParseJson",
            "inputs": {
                "content": "@body('Parse_Team_Settings_2')?['value']",
                "schema": {
                    "items": {
                        "properties": {
                            "displayName": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "templateId": {
                                "type": "string"
                            },
                            "values": {
                                "items": {
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "value"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "required": [
                            "id",
                            "displayName",
                            "templateId",
                            "values"
                        ],
                        "type": "object"
                    },
                    "type": "array"
                }
            }
        },
        "Patch_Guest_Settings_via_Graph": {
            "runAfter": {
                "Team_Settings_Results": [
                    "Succeeded"
                ]
            },
            "type": "Http",
            "inputs": {
                "authentication": {
                    "audience": "@variables('AzureAudience')",
                    "clientId": "@variables('AzureClientID')",
                    "secret": "@variables('CredentialSecret')",
                    "tenant": "@variables('AzureTenant')",
                    "type": "ActiveDirectoryOAuth"
                },
                "body": {
                    "displayName": "GroupSettings",
                    "templateId": "08d542b9-071f-4e16-94b0-74abb372e3d9",
                    "values": [
                        {
                            "name": "AllowToAddGuests",
                            "value": "@{variables('DesiredGuestSetting')}"
                        }
                    ]
                },
                "method": "PATCH",
                "uri": "https://graph.microsoft.com/v1.0/groups/@{variables('TeamID')}/settings/@{variables('GuestSettingsID')}"
            }
        },
        "Team_Info_Results": {
            "foreach": "@body('Parse_Team_Info')?['value']",
            "actions": {
                "Set_TeamID": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                        "name": "TeamID",
                        "value": "@items('Team_Info_Results')?['id']"
                    }
                }
            },
            "runAfter": {
                "Parse_Team_Info": [
                    "Succeeded"
                ]
            },
            "type": "Foreach",
            "description": "Setting the Team ID from the Team Info Results",
            "runtimeConfiguration": {
                "concurrency": {
                    "repetitions": 1
                }
            }
        },
        "Team_Settings_Results": {
            "foreach": "@body('Parse_Team_Settings')?['value']",
            "actions": {
                "Set_GuestSettingsID": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                        "name": "GuestSettingsID",
                        "value": "@items('Team_Settings_Results')?['id']"
                    }
                }
            },
            "runAfter": {
                "Parse_Team_Settings": [
                    "Succeeded"
                ]
            },
            "type": "Foreach"
        }
    },
    "outputs": {}
}